<div class="bg-img">
    <div class="content">
       <header>Register Form</header>
       <form action="#">
          <div class="field">
             <span class="fa fa-user"></span>
             <input type="text" required placeholder="Email or Phone">
          </div>
          <div class="field space ">
             <span class="fa fa-lock"></span>
             <input type="password" class="pass-key" required placeholder="Password">
             <span class="show">SHOW</span>
          </div>
          <div class="field space  ">
            <span class="fa fa-lock"></span>
            <input type="password" class="pass-key" required placeholder="RePassword">
            <span class="show ">SHOW</span>
         </div>
         
          <div class="field ">
             <input type="submit" value="Register" >
          </div>
          <button routerLink="/Login" class="btn btn-danger form-control">or sign in</button>
       </form>
       
     
     
    </div>
  </div>
